@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Global */

.BtnPrimary {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #a100ff;
  border: none;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.BtnOutline {
  padding: 0.5rem;
  border: 1px solid #7c7c8a;
  border-radius: 32px;
  background-color: transparent;
  width: 110px;
}

.BtnOutline:hover {
  background-color: rgba(124, 124, 138, 0.3);
}

@media (max-width: 600px) {
  .BtnOutline {
    font-size: 10px;
    width: 80px;
  }
}

/* Global */

/* Header */
#logo {
  font-size: 2rem;
  font-weight: bold;
  color: #a100ff;
  transition: 1s;
}

#logo:hover {
  color: rgba(255, 0, 221, 0.8);
}

#header {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#menu a {
  display: block;
  color: #000;
}

#menu a:hover {
  border-bottom: 2px solid #a100ff;
  font-weight: bold;
}

#menu .bell {
  transition: 1s;
}

#menu .bell:hover {
  border-bottom: none;
  color: rgba(255, 0, 221, 0.8);
}

#btn-mobile {
  display: none;
}

#menu .login {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #a100ff;
  transition: 1s;
}

#menu .login:hover {
  border: none;
  background-color: rgba(255, 0, 221, 0.8);
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #fff;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0.5rem;
    margin: 0.5rem 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #000;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #menu .bell {
    border: none;
  }
  #menu .login {
    margin-top: 1rem;
    border: none;
  }
}

/* End Header */

#Hero {
  background-image: url("https://img.static-af.com/images/media/E914072A-B2B5-48C1-9559E1D8C9359187/?w=1279");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Hero form {
  margin: 0px 4%;
  align-self: center;
  height: max-content;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

#Hero .Row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#Hero .Row .Col {
  display: flex;
  flex-direction: column;
}

.Col label {
  font-weight: bold;
  color: #000;
}

.Col input,
select {
  height: 48px;
  width: 300px;
  border-radius: 4px;
  border: none;
  padding-inline-start: 1rem;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(161, 0, 255, 0.5);
}

.BtnNext {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #a100ff;
  border: none;
  cursor: pointer;
  height: 48px;
  font-weight: bold;
}

/* ================= Carousel ================= */

#Carousel {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#Carousel .Tittle {
  text-align: center;
}

#Carousel .Tittle h2 {
  color: #a100ff;
}

#Carousel .Tittle p {
  color: #7c7c8a;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

/* ================= End Carousel ================= */

/* ================= Hotels ================= */

#Hotels {
  padding: 0 4%;
  display: flex;
  flex-direction: column;
}

#Hotels .NavPlaces {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

#Hotels .NavPlaces .BtnsPlaces {
  display: flex;
  gap: 1rem;
}

#Hotels .NavPlaces .ShowMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#Hotels .NavPlaces .ShowMore p {
  color: #a100ff;
}

#Hotels .NavPlaces .ShowMore button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bi-arrow-left-circle {
  color: #7c7c8a;
}

.bi-arrow-right-circle {
  color: #a100ff;
}

#Hotels .NavPlaces .ShowMore button i {
  font-size: 1.5rem;
}

#Hotels .Cards {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#Hotels .Cards .Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#Hotels .Cards .Card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#Hotels .Cards .Card .Info {
  width: 100%;
  box-shadow: 1px 1px 2px rgba(124, 124, 138, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 2rem;
}

#Hotels .Cards .Card .GroupText {
  margin-top: 1.5rem;
  display: flex;
}

#Hotels .Card .Info .GroupText {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

#Hotels .Card .Info .GroupText .Place {
  display: flex;
  gap: 0.5rem;
}

#Hotels .Card .Info .GroupText .Place h3 {
  font-size: 16px;
  font-weight: normal;
  color: #7c7c8a;
}

#Hotels .Card .Info .GroupText .HotelName {
  font-size: 18px;
  margin-top: 1rem;
}

#Hotels .Cards .Card .Info .GroupInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

#Hotels .Cards .Card .Info .GroupInfo .Stars {
  display: flex;
  gap: 0.1rem;
}

.bi-star-fill,
.bi-star-half,
.bi-star {
  color: #ff9400;
}

#Hotels .Cards .Card .Info .GroupInfo .Price {
  display: flex;
  gap: 0.5rem;
}

#Hotels .Cards .Card .Info .GroupInfo .Price h4 {
  font-size: 18px;
}

/* ================= End Hotels ================= */

/* Cards */
#Cards {
  background-color: #f1f2f8;
  margin-top: 3rem;
}

#Cards .Row{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  gap: 3rem;
}

#Cards .Row .Col{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#Cards .Row .Col img{
  height: 250px;
}

#Cards .Row .Col h2{
  color: #a100ff;
  margin-top: 1rem;
}

#Cards .Row .Col p{
  text-align: justify;
}
/* End Cards */

/* Footer */

#Footer{
  background-color: #000;
  margin-top: 3rem;
}

#Footer .Row{
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

#Footer .Row .Col h2{
  color: #a100ff;
}

#Footer .Row .Col ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#Footer .Row .Col a{
  color: #7c7c8a;
}

#Footer .Row .Col a:hover{
  color: #fff;
  text-decoration: underline;
}

/* End Footer */

@media only screen and (max-width: 600px) {
  .Navbar .NavItems {
    display: none;
  }

  #Hero {
    height: max-content;
  }

  #Hero form {
    margin: 3rem;
  }

  #Hero form .Row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0%;
    margin: 0%;
  }

  .slider {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }

  .slides {
    width: 400%;
    height: 200px;
    display: flex;
  }

  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
  }

  .slide img {
    width: 100%;
  }

  .manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 160px;
    display: flex;
    justify-content: center;
  }

  #Hotels .Cards {
    flex-direction: column;
  }

  #Hotels .Cards .Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
  }

  #Hotels .Cards .Card .Info .GroupInfo {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  #Hotels .NavPlaces {
    flex-direction: column;
  }

  #Hotels .NavPlaces .BtnsPlaces {
    flex-wrap: wrap;
  }

  #Hotels .NavPlaces .ShowMore {
    margin-top: 1.5rem;
  }

  #Hotels .NavPlaces .BtnsPlaces {
    justify-content: center;
    align-items: center;
  }

  
  #Cards .Row{
    flex-direction: column;
  }

  #Cards .Row .Col img{
    height: 200px;
  }

  #Footer .Row{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40%;
    row-gap: 3rem;
  }
}
