.card {
    cursor: pointer;
    min-width: 18rem;
    margin: 0 10px;
}

.card  h3 {
    font-size: 1.3rem;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.place-info, .price-info {
    display: flex;
}

.place-info > i {
    margin-right: 10px;
}
.stars i {
    color: goldenrod;
}

.price-info > p {
    margin-left: auto;
}